body {
	margin: 0;
	padding: 0px;
	color: #eee;
	font-size: .9em;
	background-color: #222222;
}

nav {
	font-family: vedana, sans-serif;
	font-size: 1em;
	list-style: none;
	margin: 0;
	padding: .2em .2em .2em .2em;
	border: 1px solid #000;
}

p {
	font-size: 1em;
}

header {
	font-family: verdana, sans-serif;
	font-size: 3em;
	padding: 0 0 0 .1em;
}

ul.nav {
	padding: 0;
	margin: 0 1em 0 2em;
	list-style-type: none;
	display: block;
}

ul.nav li {
	padding: 0 0 .5em 0;
}

video {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

article {
	font-family: verdana;
	font-size: 1em;
}

footer {
	font-family: verdana, sans-serif;
	font-size: .65em;
	min-height: 10em;
	padding: 0em 0em 0em 1em;
}

a {
	text-decoration: none;
	color: #eeeeee;
}

img {
	max-height: 2in;
	max-width: 2in;
}

img.center {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

iframe {
	width: 560px;
	height: 315px;
	border: none;
}

.center-text {
	text-align: center;
}

.hamburger {
	background: none;
	line-height: 1.5em;
	padding: 0 .5em 0 .5em;
	color: #eee;
	border: 0;
	font-size: 1.4em;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

.fc {
	font-size: 1em;
}

.content {
	padding: 10px;
	margin: 0 0 1em 0;
}

.flex_parent_container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.box {
	padding: 10px;
	margin: 10px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 3in;
	min-width: 1px;
	background-color: #333;
	border: 2px solid #000;
}

.fbox {
	padding: 10px;
	margin: 10px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 3in;
	min-width: 1px;
	background-color: #333;
	border: 2px solid #000;
}

.box1 {
    order: 1;
}

.box2 {
    order: 2;
}


.box3 {
    order: 3;
}

.fbox1 {
    order: 1;
}

.fbox2 {
    order: 2;
}

.fbox3 {
    order: 3;
}

.grid {
	display: grid;
	grid-template: repeat(3, 1fr);
	grid-template-columns: auto auto auto;
}

.grid1 {
	grid-area: 1 / 1 / 1 / span 3;
}

.grid2 {
	grid-area: auto / 1 / auto / span 3;
}

.grid3 {
	grid-area: auto / 1 / auto / span 3; 
}