body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #434141;
}

ul {
    list-style-type: none;
    perspective: 1000px;
}

img {
    height: 8vh;
    width: 8vh;
}

ul li {
    display: grid;
    grid-template-columns: 20% auto;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    mix-blend-mode: multiply;
}

h1 {
    color: #EEEEEE;
}

p {
    color: #EEEEEE;
}

a:link {
    color: #EEEEEE;
    text-decoration: none;
}
	
a:visited {
    color: #EEEEEE;
    text-decoration: none;
}
	
a:hover {
    color: #EEEEEE;
    text-decoration: none;
}
	
a:active {
	color: #EEEEEE;
	text-decoration: none;
}

ul li:nth-child(1) {
    top: -105px;
    z-index: 1;
}

ul li:nth-child(2) {
    top: 0px;
    z-index: 0;
}

ul li:nth-child(3) {
    top: 105px;
    z-index: 0;
}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin: 0 50px;
}

.bg, .bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg {
    -webkit-clip-path: polygon(85% 87%, 100% 60%, 100% 100%, 54% 100%);
    clip-path: polygon(85% 87%, 100% 60%, 100% 100%, 54% 100%);
    background-color: #00bf9a;
}

.bg2 {
    -webkit-clip-path: polygon(82% 83%, 100% 50%, 100% 100%, 52% 100%);
    clip-path: polygon(82% 83%, 100% 50%, 100% 100%, 52% 100%);
    background-color: #00a6bc
}